@using System.Globalization
@model string


@inject ICategoryService CategoryService;

@{
	// Detect the current UI culture ("ur".)
	var culture = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;

	var categories = await CategoryService.GetAllAsync(null);


	// Helper to pick the right display name
	string LocalName(CategoryDto c)
	{
		if (culture == "ur")
			return c.CategoryTranslations?
								.FirstOrDefault(t => t.Culture == "ur")?.Name
							?? c.Name;        
		return c.Name;
	}

}

@if(Model == "desktop")
{
	<ul class="navbar-nav d-none d-lg-flex flex-row flex-wrap" dir="@(culture == "ur" ? "rtl" : "ltr")">

		@foreach (var category in categories.Take(4))
		{
			var name = LocalName(category);

			<li class="nav-item mx-1">

				@if (culture == "ur")
				{
					<a class="nav-link px-2" asp-controller="home" asp-action="GetBooksWithCategory" asp-route-category="@name" asp-route-culture="@culture">@name</a>
				}
				else
				{	
					<a asp-controller="home" asp-action="GetBooksWithCategory" asp-route-category="@category.Name" class="nav-link px-2">@name</a>
				}

				
			</li>
		}

		<li class="nav-item dropdown mx-1">
			<a class="nav-link dropdown-toggle px-2" href="#" id="moreDropdown" data-bs-toggle="dropdown">@(culture == "ur" ? "مزید" : "More")</a>
			<ul class="dropdown-menu" aria-labelledby="moreDropdown">

				@foreach (var category in categories.Skip(4))
				{
					var name = LocalName(category);

					@if(culture == "ur")
					{
						<li><a class="dropdown-item" asp-controller="home" asp-action="GetBooksWithCategory" asp-route-category="@name" asp-route-culture="@culture">@name</a></li>
					}
					else
					{
						<li><a class="dropdown-item" asp-controller="home" asp-action="GetBooksWithCategory" asp-route-category="@category.Name">@name</a></li>
					}
					
				}
			</ul>
		</li>
	</ul>

}

else
{
	@foreach (var category in categories)
	{
		var name = LocalName(category);

		@if (culture == "ur")
		{
			<li><a class="dropdown-item" asp-controller="home" asp-action="GetBooksWithCategory" asp-route-category="@name" asp-route-culture="@culture">@name</a></li>
		}
		else
		{
			<li><a class="dropdown-item" asp-controller="home" asp-action="GetBooksWithCategory" asp-route-category="@category.Name">@name</a></li>
		}
	}
	
}

