@model ReviewDto
@inject IUserActions _userActions;
@inject IViewLocalizer L

@{
    string userImage = string.Empty;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var email = User.FindFirstValue(ClaimTypes.Name);

    if (userId != null)
    {
        var profile = await _userActions.GetProfileAsync(userId);
        if (profile != null)
        {
            userImage = profile.ProfilePicture ?? null!;
        }
    }
}

<form id="reviewForm" asp-action="Create" asp-controller="Review" method="post" class="p-4 border rounded shadow-sm bg-white w-75">

    <div id="reviewMessage"></div>

    <input type="hidden" asp-for="BookId" />
    <input type="hidden" asp-for="ApplicationUserId" value="@userId" />
    <input type="hidden" asp-for="UserImage" value="@userImage" />
    <input type="hidden" asp-for="ReviewTime" />

    <div class="mb-3">
        <label asp-for="Email" class="form-label">@L["YourEmail"]</label>
        <input asp-for="Email" class="form-control" placeholder="you@example.com" value="@email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Rating" class="form-label">@L["Rating"]</label>
        <select asp-for="Rating" class="form-select">
            <option value="0">@L["SelectRating"]</option>
            @for (int i = 1; i <= 5; i++)
            {
                <option value="@i">@i @L[i > 1 ? "Stars" : "Star"]</option>
            }
        </select>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Comment" class="form-label">@L["Comment"]</label>
        <textarea asp-for="Comment" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary w-100">@L["SubmitReview"]</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
